*{
    box-sizing: border-box;

}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;

}

header{
    text-align: center;
    margin-bottom: 30px;
}

header h1{
    color: antiquewhite;
    font-size: 2em;
    margin-bottom: 10px;
}

header h2{
    color: aliceblue;
    font-size: 1em;
    font-weight: 400;
}

.carousel{
    position: relative;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.carousel-slide{
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.carousel-slide img{
   width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0; 
   border-radius: 15px;
}

.prev-btn, .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5) ;
    color: aliceblue;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:10px;
    border-radius: 50%;
    z-index: 1;
}

.prev-btn{
    left: 10px;
}

.next-btn{
    right: 10px;
}

.prev-btn:hover , .next-btn:hover{
    background-color: rgba(0,0,0,0.8);
}

.carousel-indicators{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator{
    width: 12px;
    height: 12px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator-active{
    background-color: rgba(255,255,255,0.9);
}

.indicator:hover{
    background-color: rgba(255,255,255,0.7);
}

